absl_py==1.2.0+computecanada
aiohttp==3.8.1+computecanada
aiosignal==1.2.0+computecanada
arff==0.9+computecanada
argon2_cffi==21.3.0+computecanada
argon2_cffi_bindings==21.2.0+computecanada
ase==3.22.1
async_generator==1.10+computecanada
async_timeout==4.0.2+computecanada
attrs==21.4.0+computecanada
backcall==0.2.0+computecanada
backports.shutil_get_terminal_size==1.0.0+computecanada
backports_abc==0.5+computecanada
bcrypt==3.2.0+computecanada
bitstring==3.1.9+computecanada
bleach==4.1.0+computecanada
cachetools==5.2.0+computecanada
certifi==2021.10.8+computecanada
cffi==1.15.0+computecanada
chardet==4.0.0+computecanada
charset_normalizer==2.0.11+computecanada
cryptography==36.0.1+computecanada
cycler==0.11.0+computecanada
Cython==0.29.27+computecanada
deap==1.0.1+computecanada
debugpy==1.5.1+computecanada
decorator==5.1.1+computecanada
defusedxml==0.7.1+computecanada
dill==0.3.6+computecanada
dnspython==2.2.0+computecanada
ecdsa==0.17.0+computecanada
entrypoints==0.4+computecanada
fire==0.4.0
fonttools==4.29.1+computecanada
frozenlist==1.3.0+computecanada
fsspec==2022.7.1
funcsigs==1.0.2+computecanada
global-chem==1.8
google_auth==2.9.1+computecanada
google_auth_oauthlib==0.4.6+computecanada
group-selfies @ file:///lustre07/scratch/garytom/stereogeneration_files/final_results/stereogeneration/group-selfies/group-selfies
grpcio==1.47.0+computecanada
idna==3.3+computecanada
importlib_metadata==4.10.1+computecanada
importlib_resources==5.4.0+computecanada
ipykernel==6.0.3+computecanada
ipython==7.31.1+computecanada
ipython_genutils==0.2.0+computecanada
ipywidgets==7.6.5+computecanada
jedi==0.18.1+computecanada
Jinja2==3.0.3+computecanada
joblib==1.1.0+computecanada
jsonschema==4.4.0+computecanada
jupyter-client==6.1.12+computecanada
jupyter_core==4.9.1+computecanada
jupyterlab_pygments==0.1.2+computecanada
jupyterlab_widgets==1.0.2+computecanada
kiwisolver==1.3.2+computecanada
lockfile==0.12.2+computecanada
mapchiral==0.0.5
Markdown==3.4.1+computecanada
MarkupSafe==2.1.1
matplotlib==3.5.1+computecanada
matplotlib_inline==0.1.3+computecanada
mistune==0.8.4+computecanada
mock==4.0.3+computecanada
morfeus-ml==0.7.1
mpmath==1.2.1+computecanada
multidict==6.0.2+computecanada
nbclient==0.5.10+computecanada
nbconvert==6.4.2+computecanada
nbformat==5.1.3+computecanada
nest_asyncio==1.5.4+computecanada
netaddr==0.8.0+computecanada
netifaces==0.11.0+computecanada
networkx==3.0+computecanada
nose==1.3.7+computecanada
notebook==6.4.8+computecanada
numpy==1.22.2+computecanada
oauthlib==3.2.0+computecanada
openbabel==3.1.1.1
packaging==21.3+computecanada
pandas==1.4.0+computecanada
pandocfilters==1.5.0+computecanada
paramiko==2.9.2+computecanada
parso==0.8.3+computecanada
path==16.3.0+computecanada
path.py==12.5.0+computecanada
pathlib2==2.3.6+computecanada
paycheck==1.0.2+computecanada
pbr==5.8.1+computecanada
Pebble==5.0.6
pexpect==4.8.0+computecanada
pickleshare==0.7.5+computecanada
Pillow==9.0.1+computecanada
Pint==0.0.0
prometheus_client==0.13.1+computecanada
prompt_toolkit==3.0.26+computecanada
protobuf==3.19.4+computecanada
ptyprocess==0.7.0+computecanada
pyasn1==0.4.8+computecanada
pyasn1-modules==0.2.8+computecanada
pycparser==2.21+computecanada
pydantic==1.9.1
pyDeprecate==0.3.2+computecanada
Pygments==2.11.2+computecanada
PyNaCl==1.5.0+computecanada
pyparsing==3.0.7+computecanada
pyrsistent==0.18.1+computecanada
python-dateutil==2.8.2+computecanada
pytorch-lightning==1.7.0
pytz==2021.3+computecanada
PyYAML==6.0+computecanada
pyzmq==22.3.0+computecanada
qcelemental==0.24.0
rdkit==2022.3.5+computecanada
requests==2.27.1+computecanada
requests_oauthlib==1.3.1+computecanada
rsa==4.9
scikit_learn==1.1.1+computecanada
scipy==1.8.0+computecanada
seaborn==0.11.2+computecanada
selfies==2.1.1
Send2Trash==1.8.0+computecanada
simplegeneric==0.8.1+computecanada
singledispatch==3.7.0+computecanada
six==1.16.0+computecanada
sympy==1.9+computecanada
tensorboard==2.9.1+computecanada
tensorboard-data-server==0.6.1+computecanada
tensorboard_plugin_wit==1.8.1+computecanada
termcolor==1.1.0+computecanada
terminado==0.13.1+computecanada
testpath==0.5.0+computecanada
threadpoolctl==3.1.0+computecanada
torch==1.10.0+computecanada
torchmetrics==0.9.3
tornado==6.1+computecanada
tqdm==4.64.0+computecanada
traitlets==5.0.5+computecanada
typing_extensions==4.0.1+computecanada
urllib3==1.26.8+computecanada
wcwidth==0.2.5+computecanada
webencodings==0.5.1+computecanada
Werkzeug==2.2.1
widgetsnbextension==3.5.2+computecanada
xtb-python==20.1
yarl==1.7.2+computecanada
zipp==3.7.0+computecanada
