numpy
pandas
scipy
scikit_learn
torch
pytorch-lightning
tensorboard
openbabel
rdkit
selfies
group-selfies @ git+https://github.com/aspuru-guzik-group/group-selfies.git
morfeus-ml
ase
matplotlib
seaborn
tqdm
fire
deap
sympy
networkx
notebook
ipywidgets